Repository PSPDFKit/pspdfkit-flutter, pull requests merged in 2019-09, with the labels that each got.

#42 Update for PSPDFKit 9 for iOS
  .gitignore
  README.md
  ios/Classes/PspdfkitPlugin.m
  screenshots/ios-always-embed-swift-standard-libraries.png
Labels: HOLD, READY TO REVIEW, iOS, update

#40 Forms API (iOS)
  ios/Classes/PspdfkitPlugin.m
Labels: iOS

#39 Forms API for Android
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/pspdfkit/flutter/pspdfkit/FlutterPdfActivity.java
  android/src/main/java/com/pspdfkit/flutter/pspdfkit/PspdfkitPlugin.java
  example/PDFs/Form_example.pdf
  example/lib/main.dart
  ios/Classes/PspdfkitPlugin.m
  lib/pspdfkit.dart
Labels: Android
