Repository PSPDFKit/pspdfkit-flutter, pull requests merged in 2019-04, with the labels that each got.

#10 Extend support for styling and configuration options for iOS
  example/ios/Runner.xcodeproj/project.pbxproj
  ios/Classes/PspdfkitPlugin.m
Labels: READY TO REVIEW, enhancement, iOS

#12 Update to PSPDFKit 5.3.1 for Android
  android/config.gradle
  pubspec.yaml
Labels: Android, READY TO REVIEW

#13 Update for PSPDFKit 8.3 for iOS and Xcode 10.
  README.md
  example/ios/Podfile
  example/ios/Runner.xcodeproj/project.pbxproj
  example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  example/pubspec.yaml
  pubspec.yaml
Labels: READY TO REVIEW, update
