Repository PSPDFKit/pspdfkit-flutter, pull requests merged in 2019-07, with the labels that each got.

#20 Extend configuration options to add `showDocumentTitle` + Add the ability to customize the toolbar buttons in the configuration
  example/lib/main.dart
  ios/Classes/PspdfkitPlugin.m
  lib/configuration_options.dart
Labels: READY TO REVIEW, enhancement, iOS

#21 Add more configuration bindings (bookmark list, document title, document editor)
  android/config.gradle
  android/src/main/java/com/pspdfkit/flutter/pspdfkit/ConfigurationAdapter.java
  example/lib/main.dart
  lib/configuration_options.dart
Labels: Android, READY TO REVIEW

#22 Adds Dart API to allow to override the toolbar title
  android/src/main/java/com/pspdfkit/flutter/pspdfkit/ConfigurationAdapter.java
  example/lib/main.dart
  ios/Classes/PspdfkitPlugin.m
  lib/configuration_options.dart
Labels: Android, READY TO REVIEW, iOS

#23 Fix crash that occurred when we didn’t pass a configuration
  ios/Classes/PspdfkitPlugin.m
Labels: READY TO REVIEW, bug, iOS

#26 Expose Configuration action buttons
  android/src/main/java/com/pspdfkit/flutter/pspdfkit/ConfigurationAdapter.java
  example/lib/main.dart
  ios/Classes/PspdfkitPlugin.m
  lib/configuration_options.dart
Labels: Android, READY TO REVIEW, iOS

#27 Add settingsMenuItem configuration to provide option to disable the view options
  android/src/main/java/com/pspdfkit/flutter/pspdfkit/ConfigurationAdapter.java
  example/lib/main.dart
  lib/configuration_options.dart
Labels: Android, READY TO REVIEW
