Repository PSPDFKit/pspdfkit-flutter, pull requests merged in 2020-01, with the labels that each got.

#50 Fix example project
  .gitignore
  example/PDFs/PSPDFKit_Image_Example.jpg
  example/ios/Podfile
  example/ios/Runner.xcodeproj/project.pbxproj
  example/lib/main.dart
Labels: Android, bug, iOS

#53 Fix example project warnings and update its build system from legacy to the new one
  example/ios/Runner.xcodeproj/project.pbxproj
  example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Labels: READY TO REVIEW, enhancement, iOS

#54 Update Android part to PSPDFKit 6.1.1
  android/config.gradle
  example/pubspec.yaml
  lib/pspdfkit.dart
  pubspec.yaml
Labels: Android, READY TO REVIEW, update

#55 Reload the PSPDFViewController after applying Instant JSON payload
  ios/Classes/PspdfkitPlugin.m
Labels: READY TO REVIEW, iOS
