Repository PSPDFKit/pspdfkit-flutter, pull requests merged in 2021-01, with the labels that each got.

#75 Update copyright year to 2021
  analysis_options.yaml
  android/build.gradle
  android/config.gradle
  android/settings.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/pspdfkit/flutter/pspdfkit/ConfigurationAdapter.java
  android/src/main/java/com/pspdfkit/flutter/pspdfkit/PspdfkitPlugin.java
  android/src/main/java/com/pspdfkit/flutter/pspdfkit/util/Preconditions.java
  example/android/app/build.gradle
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/com/pspdfkit/flutter/example/FlutterExampleApplication.java
  example/android/app/src/main/java/com/pspdfkit/flutter/example/MainActivity.java
  example/android/app/src/main/res/drawable/launch_background.xml
  example/android/app/src/main/res/drawable/pspdf_list_divider_light.xml
  example/android/app/src/main/res/values/colors.xml
  example/android/app/src/main/res/values/custom_theme.xml
  example/android/app/src/main/res/values/dark_theme.xml
  example/android/app/src/main/res/values/dimens.xml
  example/android/app/src/main/res/values/styles.xml
  example/android/build.gradle
  example/android/settings.gradle
  example/ios/Runner/AppDelegate.h
  example/ios/Runner/AppDelegate.m
  example/lib/main.dart
  ios/Classes/PspdfkitPlugin.h
  ios/Classes/PspdfkitPlugin.m
  lib/android_permission_status.dart
  lib/configuration_options.dart
  lib/pspdfkit.dart
Labels: Android, READY TO REVIEW, iOS

#72 Added dismiss callback and its implementation in the example.
  android/src/main/java/com/pspdfkit/flutter/pspdfkit/EventDispatcher.java
  android/src/main/java/com/pspdfkit/flutter/pspdfkit/FlutterPdfActivity.java
  android/src/main/java/com/pspdfkit/flutter/pspdfkit/PspdfkitPlugin.java
  example/lib/main.dart
  ios/Classes/PspdfkitPlugin.m
  lib/pspdfkit.dart
Labels: READY TO REVIEW

#78 Adds a changelog
  CHANGELOG.md
Labels: Android, READY TO REVIEW, iOS

#76 Upgrade minimum required Flutter version to 1.12 for our example application
  android/config.gradle
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/com/pspdfkit/flutter/example/FlutterExampleApplication.java
  example/android/app/src/main/java/com/pspdfkit/flutter/example/MainActivity.java
  example/android/app/src/main/res/values/styles.xml
  example/pubspec.yaml
Labels: Android, READY TO REVIEW
