Repository PSPDFKit/pspdfkit-flutter, pull requests merged in 2021-02, with the labels that each got.

#80 Remove the need to update the version in two places
  CHANGELOG.md
  android/config.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  example/android/app/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.properties
Labels: Android, READY TO REVIEW

#81 Update for PSPDFKit 10.2 for iOS and Xcode 12.4
  CHANGELOG.md
  README.md
  example/ios/Runner.xcodeproj/project.pbxproj
  example/pubspec.yaml
  pubspec.yaml
Labels: READY TO REVIEW, iOS

#83 Update imports for the latest version
  CHANGELOG.md
  README.md
  example/pubspec.yaml
  ios/README.md
  pubspec.yaml
Labels: Android, READY TO REVIEW, bug, iOS
